@import "bower_components/weyproui/dist/styles/weyproui";

// Moduels
  //Susy + BreakPoint
  @import "bower_components/susy/sass/susy";
  @import "bower_components/breakpoint-sass/stylesheets/breakpoint";

//Vars
@import "lib/var/var";

// @import "lib/var/components";
//Basic Settings
// @import "lib/base";
@import "lib/plugins/spectrum";
@import "vendor/fontawesome/font-awesome";

#canvaseditor {
	height: 100vh;
	@extend .clr;
	position: relative;
	background-color: #1A1C1E;
	.row {
		height: 100%;
	}
	#artboard {
		position: relative;
		background-color: #ebeced;
		height: 100%;
		width: calc( 100% - 80px );
		float:right;
	}
	#sidebar {
		// position: fixed;
		// left: 2em;
		// top: 2em;
		// z-index: 2;
		float: left;
		padding: .5em 0;
		width: 80px;
		@extend .transition;
	}
	#config {
		box-sizing: border-box;
		padding: 1em;
		position: fixed;
		top: 2em;
		left: calc( 100% - 2em - 400px);
		
		width: 400px;
		z-index: 2;
		.controlgroup {
			label {
				width: 60px;
			}
			.controls {
				margin-left: 62px;
				&.rich-control {
					position: relative;
					input {
						
					}
					a {
						position: absolute;
						top: 0;
						bottom: 0;
						right: .5em;
						display: block;
						color: $gray;
						@extend .transition;
						&:hover {
							color: $darkestgray;
						}
						i {
							line-height: 40px;
						}
					}
				}
			}
		}
	}
	#console {
		// @include span(1.5 of 12 0);
		// display: none;
	}
	.row {
		@extend .clr;
		// height: 75vh;
	}
}
#console {
	background-color: $darkestgray;
	color: $white;
	overflow-y: scroll;
	word-break: break-all;
	font-size: .8em;
	height: 100%;
	h3 {
		padding: 0 1em;
	}
	.shapeobj {
		height: 50%;
		overflow: scroll;
	}
	.canvasobj {
		height: 50%;
	}
	.content {
		background-color: darken($darkestgray, 10%);
		padding: 1em;
		box-sizing: border-box;
	}
}
//Config
#config {
	// display: none;
}

//canvasConfig
#canvassetting {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 80px;
	width: 300px;
	z-index: 3;
	text-align: center;
	// background-color: rgba($black, .8);
	&:after {
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;
	}
	.canvasconfig-wrapper {
		height: 100%;
		box-sizing: border-box;
		font-size: .8rem;
		margin-bottom: 1em;
		max-width: 1000px;
		margin: 0 auto;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 0 12px rgba(0,0,0,.66);
	}

	.canvasconfig-inner {
		height: 100%;
		@extend .clr;
		background-color: #262D33;
		color: $white;
		.block {
			// margin-bottom: .5em;
		}
		.row {
			box-sizing: border-box;
			height: 150px;
			padding: 1em;
			// @include gallery(4 of 12);
			.block {
				// @include gallery(6 of 12 .5);
			}
			&.layoutpresets {
				.block {
					@include gallery(6 of 12 .1);
				}
			}
		}
		.layoutpresets {
			@extend .clr;
			height: calc( 100% - 150px );
			overflow-y: scroll;
			.block {
				text-align: center;
				@include gallery(6 of 12 .5);
				margin-bottom: .5em;
				a {
					border: 2px solid transparent;
					display: block;
					color: rgba($white,.2);
					padding: .5em;
					&:hover, &.active {
						color: $white;
						.thumbnail {
							box-shadow: none;
							img {
								filter: brightness(50%);
							}
						}
					}
				}
				.thumbnail {
					@extend .transition;
					img {
						@extend .transition;
					}
					box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
				}
				.name {
					margin-top: .2em;
				}
				
			}
		}
	}
}
//Panels
.panels {
	display: inline-block;
	vertical-align: middle;
}
.panel {
	
}
ul {
	&.tools {
		width: 50px;
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
		@extend .clr;
		@extend .transition;
		li {
			margin-bottom: .5em;
			position: relative;
		}
		ul {
			position: absolute;
			left: calc( 100% + 25px );
			top: 0;
			margin: 0;
			padding: 0;
			width: 200px;
			list-style-type: none;
			display: none;
			z-index: 999;
			&.active {
				display: block;
			}
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 6px 5px 0;
				border-color: transparent $white transparent transparent;
				display: block;
				position: absolute;
				top: 15px;
				right: 100%;
			}
			.controlgroup {
				label {
					width: 50px;
				}
				.controls {
					margin-left: 55px;
				}
			}
		}
	}
}
.attributes-wrapper {
	@extend .clr;
	.attributes-inner-text {
		@extend .clr;
		.block {
			@include gallery(6 of 12 .5);
		}
	}
	.attributes-inner {
		@extend .clr;
		.block {
			@include gallery(6 of 12 .5);
		}
	}
	
}

.canvas-wrapper {
	height: 100%;
	text-align: center;
	display: flex;
	align-items:center;
	justify-content:center;
	// &:before {
	// 	content: '';
	// 	width: 0;
	// 	height: 100%;
	// 	display: inline-block;
	// 	vertical-align: middle;
	// }
	#canvas {
		display: inline-block;
		vertical-align: middle;
	}
}
#canvas {
	position: relative;
	transform-origin: center center;
	@extend .transition;
	.objectControl {
		@extend .transition;
		opacity: 0;
		position: absolute;
		font-size: 1rem;
		left: .2em;
		top: -40px;
		box-sizing: borde-box;
		z-index: 2;
		&.active {
			opacity: 1;
			top: .2em;
		}
		.btn {
			padding: .2em 1em;
		}
	}
	&:hover {
		.sizeTag {
			opacity: .2;
		}
	}
	.sizeTag {
		@extend .transition;
		margin: 2em;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		border-left: 1px solid $black;
		border-top: 1px solid $black;
		opacity: 0.1;
		.tag {
			background-color: $black;
			color: $white;
			padding: 0 1em;
			border-radius: 3px;
			font-size: .8em;
			&.height {
				position: absolute;
				bottom: 0;
				right: calc( 100% + .9em );
				transform: rotate(90deg);
				transform-origin: 100% 100%;
			}
			&.width {
				position: absolute;
				top: -.9em;
				right: 0;
			}
		}
	}
}
.canvas-container {
	margin: 0 auto;
	// background-color: $white;
	background-image: url(data:image/gif;base64,R0lGODlhCgAKAIAAAOLi4v///yH5BAAHAP8ALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==);
	box-shadow: 0px 3px 3px rgba(0,0,0,.33);
	@extend .transition;
	&:hover {
		box-shadow: 0px 3px 3px rgba(0,0,0,.66);
	}
}
@import "lib/editor/marquee-settings";
@import "lib/editor/medialibrary";
@import "lib/editor/contextMenu";
@import "lib/editor/inboundlist";