extends layouts/default
block pagetitle
	title Canvas Editor
block content
	#main
		#canvaseditor

block pagescripts
	script.
		var data = {};
		CanvasComposer.init('new',{
			'width': '300',
			'height': '300'
		});
