extends layouts/default
block pagetitle
  title Canvas Editor
block content
  #main
    .row
      #sidebar
        ul.tools
          li
            a.js-add-media(href="javascript:;")
              i.fa.fa-picture-o
          li
            a.js-add-video(href="javascript:;")
              i.fa.fa-video-camera
          li
            a.js-add-rect(href="javascript:;" title="新增物件")
              i.fa.fa-object-group
          //- li
          //-   a.js-add-circle(href="javascript:;") Circle
          //- li
          //-   a.js-add-triangle(href="javascript:;") Tri
        ul.tools.overall
          li
            a(href="javascript:;" title="鎖定所有物件")
              i.fa.fa-lock
          li
            a.js-dispose(href="javascript:;" title="清除所有物件")
              i.fa.fa-trash-o
        
      #artboard
        .canvas-wrapper
          #canvas
            canvas#c
            .objectControl
              button.js-reset(title="原始比例")
                i.fa.fa-crosshairs

              button.js-delete
                i.fa.fa-trash(title="刪除")

            .sizeTag
              .tag.width<span>800</span>
              .tag.height <span>600</span>
      #config
        .canvasconfig-wrapper.panel
          .title
            h3 版面屬性
          .canvasconfig-inner
            .block
              .controlgroup
                label Presets
                .controls
                  select#canvas-select
                    option(data-width="800" data-height="600") 800*600
                    option(data-width="1024" data-height="768") 1024*768
                    option(data-width="768" data-height="1024") 768*1024
                    option(data-width="800" data-height="800") 800*800
            .layoutpresets
              .block
                a(href="javascript:;") A
              .block
                a.active(href="javascript:;") B
              .block
                a(href="javascript:;") C
              .block
                a(href="javascript:;") D
              .block
                a(href="javascript:;") E
            .row        
              .block
                .controlgroup
                  label Width
                  .controls
                    input#canvasWidth(type="number" value="800")
              .block
                .controlgroup
                  label Height
                  .controls
                    input#canvasHeight(type="number" value="600")
        .attributes-wrapper.panel
          .title
            h3 物件屬性
          .row
            .block.attr.type
              .controlgroup
                label Type
                .controls
                  input(type='text')
          .attributes-inner            
            .block.attr.width
              .controlgroup
                label Width
                .controls
                  input.objectSize#objectWidth(type='number')
            .block.attr.height
              .controlgroup
                label Height
                .controls
                  input.objectSize#objectHeight(type='number')
            .block.attr.radius
              .controlgroup
                label Radius
                .controls
                  input#objectRadius(type='text')
            
            .block.attr.top
              .controlgroup
                label Top
                .controls
                  input#objectTop(type='text')
            .block.attr.left
              .controlgroup
                label Left
                .controls
                  input#objectLeft(type='text')
            .block.attr.angle
              .controlgroup
                label Angle
                .controls
                  input#objectAngle(type='text')
          .row
            .block.attr.media
              .controlgroup
                label Media
                .controls
                  input#mediaValue(type='text')
    #console
      .shapeobj
        h3 Shape Objects
        .content
      .canvasobj
        h3 Canvas Object
        .content
      

    
