extends layouts/default
block pagetitle
  title Canvas Editor
block content
  #main
    .row
      #sidebar
        ul.tools
          li
            a.js-add-rect(href="javascript:;" title="新增矩形")
              i.fa.fa-object-group.fa-lg
          li
            a.js-add-circle(href="javascript:;" title="新增圓形") 
              i.fa.fa-circle-thin.fa-lg
          li
            a.js-add-text(href="javascript:;" title="新增文字") 
              i.fa.fa-font.fa-lg
          li
            a.js-add-clock(href="javascript:;" title="新增時鐘") 
              i.fa.fa-clock-o.fa-lg

        ul.tools.overall
          li
            a(href="javascript:;" title="鎖定所有物件")
              i.fa.fa-lock.fa-lg
          li
            a.js-dispose(href="javascript:;" title="清除所有物件")
              i.fa.fa-eraser.fa-lg
        
      #artboard
        .canvas-wrapper
          #canvas.task
            canvas#c
            .objectControl
              button.js-reset(title="原始比例")
                i.fa.fa-crosshairs

              button.js-delete
                i.fa.fa-trash(title="刪除")

            .sizeTag
              .tag.width<span>800</span>
              .tag.height <span>600</span>
          
      #config
        .panels
          .canvasconfig-wrapper.panel
            .title
              h3 版面屬性
              #countdown0
              #countdown1
              #countdown2
            .canvasconfig-inner
              .block
                .controlgroup
                  label Presets
                  .controls
                    select#canvas-select
                      option(data-width="800" data-height="600") 800*600
                      option(data-width="1024" data-height="768") 1024*768
                      option(data-width="768" data-height="1024") 768*1024
                      option(data-width="800" data-height="800") 800*800
              .layoutpresets
                .block
                  a(href="javascript:;") A
                .block
                  a.active(href="javascript:;") B
                .block
                  a(href="javascript:;") C
                .block
                  a(href="javascript:;") D
                .block
                  a(href="javascript:;") E
              .row        
                .block
                  .controlgroup
                    label Width
                    .controls
                      input#canvasWidth(type="number" value="800")
                .block
                  .controlgroup
                    label Height
                    .controls
                      input#canvasHeight(type="number" value="600")
          .attributes-wrapper.panel
            .title
              h3 物件屬性
            .row
              .block.attr.type
                .controlgroup
                  label Type
                  .controls
                    input(type='text' readonly)
            .attributes-inner            
              .block.attr.width
                .controlgroup
                  label Width
                  .controls
                    input.objectSize#objectWidth(type='number')
              .block.attr.height
                .controlgroup
                  label Height
                  .controls
                    input.objectSize#objectHeight(type='number')
              .block.attr.radius
                .controlgroup
                  label Radius
                  .controls
                    input#objectRadius(type='text')
              
              .block.attr.top
                .controlgroup
                  label Top
                  .controls
                    input#objectTop(type='text')
              .block.attr.left
                .controlgroup
                  label Left
                  .controls
                    input#objectLeft(type='text')
              .block.attr.angle
                .controlgroup
                  label Angle
                  .controls
                    input#objectAngle(type='text')
              .block.attr.scalex
                .controlgroup
                  label ScaleX
                  .controls
                    input#objectScaleX(type='text')
              .block.attr.scaley
                .controlgroup
                  label ScaleY
                  .controls
                    input#objectScaleY(type='text')
              .block.attr.color
                .controlgroup
                  label Color
                  .controls
                    input#objectColor(type='text')
            .row
              .block.attr.media
                .controlgroup
                  label Media
                  .controls.richcontrol
                    a.js-library(href="javascript:;")
                      i.fa.fa-cloud-upload.fa-2x
                    input#mediaValue(type='text' readonly)
                  .mediaPreview
    #console
      .shapeobj
        h3 Shape Objects
        .content
      .canvasobj
        h3 Canvas Object
        .content

    #context-menu.context-menu
      ul.context-menu__items
        li.context-menu__item
          a.context-menu__link(href='#', data-action='layertop')
            i.fa.fa-angle-double-up
            |  移至頂層
          a.context-menu__link(href='#', data-action='layerup')
            i.fa.fa-angle-up
            |  上移一層
        li.context-menu__item
          a.context-menu__link(href='#', data-action='layerdown')
            i.fa.fa-angle-down
            |  下移一層
        a.context-menu__link(href='#', data-action='layerbottom')
            i.fa.fa-angle-double-down
            |  移至底層
        li.context-menu__item
          a.context-menu__link.js-delete(href='#', data-action='delete')
            i.fa.fa-times
            |  刪除物件
 

    #mediaLibrary
      .mediaLibrary-inner
        .library-container
          a.close-btn.js-close(href="javascript:;")
            i.fa.fa-times.fa-lg
          h2 Demo Image Resouces
          ul.resources
            li
              a(href="javascript:;" data-src="http://twimg.edgesuite.net/appledaily/images/RnewsRecommend_1456107806.jpg" data-resourceid="1")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://twimg.edgesuite.net/appledaily/images/RnewsRecommend_1456107806.jpg")
                .filename RnewsRecommend_1456107806.jpg
            li
              a(href="javascript:;" data-src="http://twimg.edgesuite.net/www/extfile/specialtopic/a0c140339379e5c6b2f9c9c447d1a2a9.jpg" data-resourceid="2")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://twimg.edgesuite.net/www/extfile/specialtopic/a0c140339379e5c6b2f9c9c447d1a2a9.jpg")
                .filename a0c140339379e5c6b2f9c9c447d1a2a9.jpg
            li
              a(href="javascript:;" data-src="https://imageoptim.com/ImageOptim-yosemite.png" data-resourceid="3")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="https://imageoptim.com/ImageOptim-yosemite.png")
                .filename ImageOptim-yosemite.png
            li
              a(href="javascript:;" data-src="https://i.stack.imgur.com/LFaq6.jpg" data-resourceid="4")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="https://i.stack.imgur.com/LFaq6.jpg")
                .filename LFaq6.jpg
            li
              a(href="javascript:;" data-src="http://192.241.236.31/test4.smartadmin/img/splash/iphone.png" data-resourceid="5")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://192.241.236.31/test4.smartadmin/img/splash/iphone.png")
                .filename iphone.png
            li
              a(href="javascript:;" data-src="http://butlercountyhs.org/Graphics/Dogs/ButlerHumaneSociety3.png" data-resourceid="6")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://butlercountyhs.org/Graphics/Dogs/ButlerHumaneSociety3.png")
                .filename ButlerHumaneSociety3.png
            li
              a(href="javascript:;" data-src="https://img.buzzfeed.com/buzzfeed-static/static/2014-08/12/11/enhanced/webdr06/anigif_enhanced-buzz-24560-1407856404-48.gif" data-resourceid="7")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="https://img.buzzfeed.com/buzzfeed-static/static/2014-08/12/11/enhanced/webdr06/anigif_enhanced-buzz-24560-1407856404-48.gif")
                .filename anigif_enhanced-buzz-24560-1407856404-48.gif 
            li
              a(href="javascript:;" data-src="http://stories.gettyimages.com/wp-content/uploads/2015/08/GettyImages-557187411-11.jpg" data-resourceid="8")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://stories.gettyimages.com/wp-content/uploads/2015/08/GettyImages-557187411-11.jpg")
                .filename GettyImages-557187411-11.jpg
            li
              a(href="javascript:;" data-src="images/uploads/slide-same-1.jpg" data-resourceid="9")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="images/uploads/slide-same-1.jpg")
                .filename slider-same-1.jpg
            li
              a(href="javascript:;" data-src="images/uploads/slide-same-2.jpg" data-resourceid="10")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="images/uploads/slide-same-2.jpg")
                .filename slider-same-2.jpg
            li
              a(href="javascript:;" data-src="images/uploads/slide-same-3.jpg" data-resourceid="11")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="images/uploads/slide-same-3.jpg")
                .filename slider-same-3.jpg

          h2 Demo Video Resouces
          ul.resources
            li
              a(href="javascript:;" data-src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" data-resourceid="12")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4")
                .filename xxx
            li
              a(href="javascript:;" data-src="http://download.wavetlan.com/SVV/Media/HTTP/H264/Talkinghead_Media/H264_test1_Talkinghead_mp4_480x360.mp4" data-resourceid="13")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://download.wavetlan.com/SVV/Media/HTTP/H264/Talkinghead_Media/H264_test1_Talkinghead_mp4_480x360.mp4")
                .filename xxx
            li
              a(href="javascript:;" data-src="http://techslides.com/demos/sample-videos/small.webm" data-resourceid="14")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://techslides.com/demos/sample-videos/small.webm")
                .filename xxx
            li
              a(href="javascript:;" data-src="https://www.youtube.com/watch?v=4XpDdIISlYo" data-resourceid="4XpDdIISlYo")
                .thumbnail
                  i.fa.fa-check-circle-o
                  img(src="http://lorempixel.com/400/200")
                .filename xxx
        .settings-container
          ol.selection#selectionOrder
          a.js-sendToObj(href="javascript:;") 置入選取物件
