extends layouts/default
block pagetitle
  title Canvas Editor
block content
  #main
    .row
      #console
        .shapeobj
          h3 Shape Objects
          .content
        .canvasobj
          h3 Canvas Object
          .content
      #sidebar
        .canvasconfig-wrapper
          .canvasconfig-inner
            .block
              .controlgroup
                label Presets
                .controls
                  select#canvas-select
                    option(data-width="800" data-height="600") 800*600
                    option(data-width="1024" data-height="768") 1024*768
                    
            .block
              .controlgroup
                label Width
                .controls
                  input#widthValue(type="number" value="800")
            .block
              .controlgroup
                label Height
                .controls
                  input#heightValue(type="number" value="600")
        ul.tools
          li
            a.js-add-video(href="javascript:;") Video
          li
            a.js-add-rect(href="javascript:;") 通用元件
          //- li
          //-   a.js-add-circle(href="javascript:;") Circle
          //- li
          //-   a.js-add-triangle(href="javascript:;") Tri
          li
            a.js-dispose(href="javascript:;") 全部清除
        .attributes
          .type Type: <span></span>
          .size
            .width Width:<span></span>
            .height Height:<span></span>
          .radius Radius:<span></span>
          .position
            .top Top:<span></span>
            .left Left:<span></span>
          .angle Angle:<span></span>
      #artboard
        .canvas-wrapper
          #canvas
            canvas#c
            .objectControl
              button Dimension
              button.js-delete Delete
      

    
