extends layouts/default
block pagetitle
	title Canvas Editor
block content
	#main
		#canvaseditor

block pagescripts
	script.
		var data = {};
		CanvasEditor.init('new',{
			//可傳入json 物件
			'width': '300',
			'height': '300'
		});
