include mixin/_mixin
doctype html
html.no-js
  head
    meta(charset='utf-8')
    block pagetitle
      title Untitiled Project
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css

    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    #wrapper
      main
        block content
          p this page is empty.
      

    //-Scripts
    block scripts
      // build:js scripts/vendor.js
      // bower:js
      script(src='../bower_components/jquery/dist/jquery.js')
      script(src='../bower_components/underscore/underscore-min.js')
      script(src='scripts/vendor/spectrum.js')
      // endbower
      // endbuild

      // build:js scripts/plugins.js
      script(src='../bower_components/fabric.js/dist/fabric.min.js')
      script(src='scripts/lib/youtubeDecoder.js')
      script(src='scripts/lib/Sortable.min.js')  
      script(src='scripts/editor/contextMenu.js')
      // endbuild
    
      // build:js scripts/main.js
      script(src='scripts/editor/fabricExtensions.js')
      script(src='scripts/editor/editorConfig.js')
      script(src='scripts/editor/panels.js')
      script(src='scripts/editor/objEvents.js')
      script(src='scripts/editor/mediaLib.js')
      script(src='scripts/editor/keyBoard.js')
      script(src='scripts/editor/logs.js')
      script(src='scripts/main.js')
      script(src='scripts/miscellaneous.js')
      // endbuild