include ../templates/mixin/_mixin
doctype html
html.no-js
  head
    meta(charset='utf-8')
    block pagetitle
      title Untitiled Project
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    
    script.
      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
      
      //- function fontLoader(name){
      //-   WebFontConfig = {
      //-     loading: function() {
      //-       console.log('loading');
      //-     },
      //-     active: function() {
      //-       console.log('active');
      //-     },
      //-     inactive: function() {
      //-       console.log('ahh');
      //-     },
      //-     google: {
      //-       families: name
      //-     }
      //-   };
      //- }

    // build:css styles/CanvasComposer.css
    link(rel='stylesheet' href='styles/editor.css')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    #wrapper
      main
        block content
          p this page is empty.
      

    //-Scripts
    block scripts
      // build:js scripts/jquery.js
      // bower:js
      script(src='../bower_components/jquery/dist/jquery.js')
      // endbower
      // endbuild

      // build:js scripts/fabric.js
      script(src='scripts/vendor/fabric.js')
      // endbuild
      // build:js scripts/CanvasComposer.js
      script(src='scripts/editor/fabricExtensions.js')
      script(src='scripts/CanvasComposer.js')
      script(src='scripts/editor/loadView.js')
      script(src='scripts/editor/createCanvas.js')
      script(src='scripts/editor/canvasPanels.js')
      script(src='scripts/editor/toolBar.js')
      script(src='scripts/editor/hotkeys.js')
      script(src='scripts/editor/artboardController.js')
      script(src='scripts/editor/attrPanels.js')
      script(src='scripts/editor/contextMenu.js')
      script(src='scripts/editor/loadFromPresets.js')
      script(src='scripts/editor/youtubeDecoder.js')
      script(src='scripts/editor/bindEvents.js')
      script(src='scripts/editor/medialibrary.js')
      script(src='scripts/editor/inboundLink.js')
      script(src='scripts/editor/logController.js')
      script(src='scripts/editor/weatherapi.js')
      script(src='scripts/editor/marqueeSettings.js')
      script(src='scripts/editor/clockSettings.js')
      script(src='scripts/editor/fontHandler.js')
      script(src='scripts/vendor/spectrum.js')
      script(src='scripts/lib/Sortable.min.js')
      script(src='../bower_components/moment/min/moment-with-locales.min.js')
      //- script(src='../bower_components/weyproui/dist/scripts/main.js')
      // endbuild
    block pagescripts