#artboard
	.canvas-wrapper
		#canvas.task
			canvas#c
			.objectControl
				button.js-reset(title="原始比例")
					i.fa.fa-crosshairs

				button.js-delete
					i.fa.fa-trash(title="刪除")

			.sizeTag
				.tag.width<span>800</span>
				.tag.height <span>600</span>