#mediaLibrary
  .mediaLibrary-inner
    a.close-btn.js-close(href="javascript:;")
      i.fa.fa-times.fa-lg
    .row
      .grid.g-2-12
        .widget-block
          .widget-title 節目目錄
          .widget-content
            ul.tree-list
              li
                a(href='javascript:;') 資料夾名稱
                ul
                  li
                    a(href='javascript:;') 資料夾名稱
              li
                  a(href='javascript:;') 資料夾名稱
                  ul
                    li
                      a(href='javascript:;') 資料夾名稱
                    li
                      a(href='javascript:;') 資料夾名稱
                    li
                      a(href='javascript:;') 資料夾名稱
              li
                  a(href='javascript:;') 資料夾名稱
              li
                  a(href='javascript:;') 資料夾名稱
              li
                  a(href='javascript:;') 資料夾名稱
        
      .grid.g-7-12
        .library-container
          .widget-block
            .widget-title 素材庫
            .widget-content
              ul.gallery.six.resources
                li
                  a(href="javascript:;" data-src="images/uploads/long-rec.jpeg" data-resourceid="0", title='long-rec.jpeg')
                    .thumbnail
                      img(src="images/uploads/long-rec.jpeg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                li
                  a(href="javascript:;" data-src="http://twimg.edgesuite.net/appledaily/images/RnewsRecommend_1456107806.jpg" data-resourceid="1", title='RnewsRecommend_1456107806.jpg')
                    .thumbnail
                      img(src="http://twimg.edgesuite.net/appledaily/images/RnewsRecommend_1456107806.jpg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="http://twimg.edgesuite.net/www/extfile/specialtopic/a0c140339379e5c6b2f9c9c447d1a2a9.jpg" data-resourceid="2", title='a0c140339379e5c6b2f9c9c447d1a2a9.jpg')
                    .thumbnail
                      img(src="http://twimg.edgesuite.net/www/extfile/specialtopic/a0c140339379e5c6b2f9c9c447d1a2a9.jpg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="https://imageoptim.com/ImageOptim-yosemite.png" data-resourceid="3", title='ImageOptim-yosemite.png')
                    .thumbnail
                      img(src="https://imageoptim.com/ImageOptim-yosemite.png")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="https://i.stack.imgur.com/LFaq6.jpg" data-resourceid="4", title='LFaq6.jpg')
                    .thumbnail
                      img(src="https://i.stack.imgur.com/LFaq6.jpg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="http://192.241.236.31/test4.smartadmin/img/splash/iphone.png" data-resourceid="5", title='iphone.png')
                    .thumbnail
                      img(src="http://192.241.236.31/test4.smartadmin/img/splash/iphone.png")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="http://butlercountyhs.org/Graphics/Dogs/ButlerHumaneSociety3.png" data-resourceid="6", title='ButlerHumaneSociety3.png')
                    .thumbnail
                      img(src="http://butlercountyhs.org/Graphics/Dogs/ButlerHumaneSociety3.png")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="https://img.buzzfeed.com/buzzfeed-static/static/2014-08/12/11/enhanced/webdr06/anigif_enhanced-buzz-24560-1407856404-48.gif" data-resourceid="7", title='anigif_enhanced-buzz-24560-1407856404-48.gif ')
                    .thumbnail
                      img(src="https://img.buzzfeed.com/buzzfeed-static/static/2014-08/12/11/enhanced/webdr06/anigif_enhanced-buzz-24560-1407856404-48.gif")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="http://stories.gettyimages.com/wp-content/uploads/2015/08/GettyImages-557187411-11.jpg" data-resourceid="8", title='GettyImages-557187411-11.jpg')
                    .thumbnail
                      img(src="http://stories.gettyimages.com/wp-content/uploads/2015/08/GettyImages-557187411-11.jpg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="images/uploads/slide-same-1.jpg" data-resourceid="9", title='slider-same-1.jpg')
                    .thumbnail
                      img(src="images/uploads/slide-same-1.jpg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="images/uploads/slide-same-2.jpg" data-resourceid="10", title='slider-same-2.jpg')
                    .thumbnail
                      img(src="images/uploads/slide-same-2.jpg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="images/uploads/slide-same-3.jpg" data-resourceid="11", title='slider-same-3.jpg')
                    .thumbnail
                      img(src="images/uploads/slide-same-3.jpg")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-image-o
                    
                li
                  a(href="javascript:;" data-src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" data-resourceid="12", title='xxx')
                    .thumbnail
                      img(src="http://unsplash.it/400/300")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-video-o
                    
                li
                  a(href="javascript:;" data-src="http://download.wavetlan.com/SVV/Media/HTTP/H264/Talkinghead_Media/H264_test1_Talkinghead_mp4_480x360.mp4" data-resourceid="13", title='xxx')
                    .thumbnail
                      img(src="http://unsplash.it/400/300")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-video-o
                    
                li
                  a(href="javascript:;" data-src="images/uploads/small.webm" data-resourceid="14", title='xxx')
                    .thumbnail
                      img(src="http://unsplash.it/400/300")
                    .check
                      i.fa.fa-check-circle-o
                    .type
                      i.fa.fa-file-video-o
                    
                //- li
                //-   a(href="javascript:;" data-src="https://www.youtube.com/watch?v=4XpDdIISlYo" data-resourceid="4XpDdIISlYo", title='xxx')
                //-     .thumbnail
                //-       img(src="http://unsplash.it/400/300")
                //-     .check
                //-       i.fa.fa-check-circle-o
                //-     .type
                //-       i.fa.fa-file-video-o
              .call-action
                a.btn.edit(href="javascript:;") 更新
                    
      .grid.g-3-12
        .settings-container
          .widget-block
            .widget-title 選中素材
            .widget-content
              //- p Insert Image/Videos from left
              ul.selection#selectionOrder.fat-list
                li Insert Image/Videos from left
              .call-action
                a.btn.basic.js-sendToObj(href="javascript:;") 置入選取物件
        
    script.
      var el = document.getElementById('selectionOrder');
      var sortable = Sortable.create(el);
      //Tree List
      (function(){
        var treeList = $('.tree-list');
        treeList.on('click', 'a', function(){
          $(this).siblings('ul').slideToggle('fast');
          $(this).toggleClass('active');
        })
      }());